# FastAPI
SECRET_KEY="some_random_string"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Auth Google
GOOGLE_CLIENT_ID="COMPLETE WITH GOOGLE AUTH APP CLIENT ID"
GOOGLE_CLIENT_SECRET="COMPLETE WITH GOOGLE AUTH APP SECRET"

# Postgres Database
POSTGRES_HOSTNAME=postgres_db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=flaskpassword
POSTGRES_USER=flaskuser
POSTGRES_DB=flaskdb