name: lint_python
on: [pull_request, push]
jobs:
  lint_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14.x
      - run: pip install --upgrade pip wheel
      - run: pip install -r requirements-dev.txt || pip install --editable . || pip install .
      - run: pip install bandit black codespell ruff isort mypy pytest pyupgrade safety pydantic
      - name: Lint
        run: bash scripts/lint.sh
      # - run: bandit --recursive --skip B101,B105 . # B101 is assert statements, B105 for token URL
      - run: codespell app
      - run: mkdir --parents --verbose .mypy_cache
      - run: mypy --ignore-missing-imports --install-types --non-interactive .
      - run: pytest . || true
      - run: pytest --doctest-modules . || true
      # - run: shopt -s globstar && pyupgrade --py311-plus **/*.py
      # - run: safety scan
